asgiref==3.8.1
click==8.1.7
colorama==0.4.6
Django==5.0.6
djangorestframework==3.15.2
joblib==1.4.2
nltk==3.8.1
numpy==2.0.0
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
six==1.16.0
sqlparse==0.5.0
tqdm==4.66.4
tzdata==2024.1
